# minimal python requirements for this code
pandas==2.2.3
numpy==2.2.2
scipy==1.17.0

matplotlib==3.10.8
seaborn==0.13.2
pillow==12.1.1

geopandas==1.1.2
geodatasets==2026.1.0
rasterio==1.5.0
rasterstats==0.18.0
pyogrio==0.12.1
fiona==1.10.1
pyproj==3.7.2
shapely==2.1.2

ipython==9.10.0
ipykernel==7.2.0
jupyterlab==4.5.4
notebook==7.4.5
ipywidgets==8.1.7